In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

### Importing train and test datasets

In [2]:
df = pd.read_csv('Train.csv')
t_df = pd.read_csv('Test.csv')

In [3]:
df.head()

,feature_0,feature_1,feature_2,feature_3,feature_4,feature_5,feature_6,feature_7,feature_8,feature_9,feature_10,feature_11,feature_12,feature_13,feature_14,feature_15,labels
0,-0.276515,-0.424429,1.344997,-0.012283,0.076230,1.076648,0.182198,3,0,1,0,0,0,0,10,2,1
1,0.853573,0.150991,0.503892,-0.979179,-0.569351,-0.411453,-0.251940,4,1,2,0,1,0,0,0,3,0
2,0.947747,-0.173832,1.825628,-0.703478,0.076230,-0.411453,-0.251940,6,1,2,0,0,0,0,5,3,0
3,0.853573,-0.381404,0.984523,-0.039464,-0.569351,-0.411453,-0.251940,4,0,2,0,1,0,0,5,3,0
4,1.324443,1.590527,-1.178318,-0.097711,-0.246560,-0.411453,-0.251940,0,1,1,0,0,0,0,8,3,0

In [4]:
df.shape

(33908, 17)

### Checking for null values in train and test dataset

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 33908 entries, 0 to 33907
Data columns (total 17 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   feature_0   33908 non-null  float64
 1   feature_1   33908 non-null  float64
 2   feature_2   33908 non-null  float64
 3   feature_3   33908 non-null  float64
 4   feature_4   33908 non-null  float64
 5   feature_5   33908 non-null  float64
 6   feature_6   33908 non-null  float64
 7   feature_7   33908 non-null  int64
 8   feature_8   33908 non-null  int64
 9   feature_9   33908 non-null  int64
 10  feature_10  33908 non-null  int64
 11  feature_11  33908 non-null  int64
 12  feature_12  33908 non-null  int64
 13  feature_13  33908 non-null  int64
 14  feature_14  33908 non-null  int64
 15  feature_15  33908 non-null  int64
 16  labels      33908 non-null  int64
dtypes: float64(7), int64(10)
memory usage: 4.4 MB

In [6]:
t_df.shape

(11303, 16)

In [7]:
t_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11303 entries, 0 to 11302
Data columns (total 16 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   feature_0   11303 non-null  float64
 1   feature_1   11303 non-null  float64
 2   feature_2   11303 non-null  float64
 3   feature_3   11303 non-null  float64
 4   feature_4   11303 non-null  float64
 5   feature_5   11303 non-null  float64
 6   feature_6   11303 non-null  float64
 7   feature_7   11303 non-null  int64
 8   feature_8   11303 non-null  int64
 9   feature_9   11303 non-null  int64
 10  feature_10  11303 non-null  int64
 11  feature_11  11303 non-null  int64
 12  feature_12  11303 non-null  int64
 13  feature_13  11303 non-null  int64
 14  feature_14  11303 non-null  int64
 15  feature_15  11303 non-null  int64
dtypes: float64(7), int64(9)
memory usage: 1.4 MB

In [8]:
df['labels'].value_counts()

0    29941
1     3967
Name: labels, dtype: int64

In [9]:
df.describe()

,feature_0,feature_1,feature_2,feature_3,feature_4,feature_5,feature_6,feature_7,feature_8,feature_9,feature_10,feature_11,feature_12,feature_13,feature_14,feature_15,labels
count,33908.000000,33908.000000,33908.000000,33908.000000,33908.000000,33908.000000,33908.000000,33908.000000,33908.000000,33908.000000,33908.000000,33908.000000,33908.000000,33908.000000,33908.000000,33908.000000,33908.000000
mean,-0.004158,0.002584,-0.000213,-0.000053,-0.000298,-0.004652,-0.007498,4.336381,1.171051,1.225345,0.018137,0.555503,0.159667,0.639407,5.520497,2.562375,0.116993
std,0.999776,1.014268,1.000872,1.002512,1.003724,0.993984,0.802696,3.273376,0.606730,0.749104,0.133450,0.496917,0.366303,0.897627,3.003241,0.987148,0.321417
min,-2.159994,-3.081149,-1.779108,-1.002478,-0.569351,-0.411453,-0.251940,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,-0.747384,-0.422787,-0.938003,-0.602517,-0.569351,-0.411453,-0.251940,1.000000,1.000000,1.000000,0.000000,0.000000,0.000000,0.000000,3.000000,3.000000,0.000000
50%,-0.182341,-0.297324,0.023260,-0.303517,-0.246560,-0.411453,-0.251940,4.000000,1.000000,1.000000,0.000000,1.000000,0.000000,0.000000,6.000000,3.000000,0.000000
75%,0.665225,0.022901,0.624050,0.236237,0.076230,-0.411453,-0.251940,7.000000,2.000000,2.000000,0.000000,1.000000,0.000000,2.000000,8.000000,3.000000,0.000000
max,5.091402,33.094776,1.825628,18.094700,19.443647,8.127648,23.625644,11.000000,2.000000,3.000000,1.000000,1.000000,1.000000,2.000000,11.000000,3.000000,1.000000

In [10]:
df.corr()

,feature_0,feature_1,feature_2,feature_3,feature_4,feature_5,feature_6,feature_7,feature_8,feature_9,feature_10,feature_11,feature_12,feature_13,feature_14,feature_15,labels
feature_0,1.000000,0.096391,-0.011224,-0.007262,0.003125,-0.021076,0.003105,-0.020858,-0.406850,-0.105244,-0.020580,-0.182078,-0.015597,0.028699,-0.040374,0.006381,0.019405
feature_1,0.096391,1.000000,0.005365,0.017720,-0.013162,0.004524,0.021292,0.018648,-0.000714,0.065006,-0.066072,-0.070495,-0.083485,-0.030686,0.015220,-0.021289,0.048611
feature_2,-0.011224,0.005365,1.000000,-0.031505,0.162574,-0.095046,-0.055874,0.023044,-0.006331,0.022440,0.012235,-0.027770,0.007430,-0.029314,-0.005105,0.084358,-0.033345
feature_3,-0.007262,0.017720,-0.031505,1.000000,-0.084617,0.001482,0.001489,0.000688,0.011788,0.003468,-0.010831,0.009210,-0.009263,-0.020733,0.006277,0.009662,0.392971
feature_4,0.003125,-0.013162,0.162574,-0.084617,1.000000,-0.091533,-0.045145,0.007676,-0.009894,0.004970,0.017115,-0.020753,0.005064,0.024970,-0.109652,0.105265,-0.075025
feature_5,-0.021076,0.004524,-0.095046,0.001482,-0.091533,1.000000,0.547919,-0.022786,0.017101,0.003437,-0.027930,0.122215,-0.022871,-0.243657,0.031530,-0.856851,0.106239
feature_6,0.003105,0.021292,-0.055874,0.001489,-0.045145,0.547919,1.000000,0.001753,0.019752,0.021266,-0.018799,0.039526,-0.010990,-0.176610,0.030134,-0.594264,0.119322
feature_7,-0.020858,0.018648,0.023044,0.000688,0.007676,-0.022786,0.001753,1.000000,0.058998,0.163618,-0.007553,-0.124799,-0.034169,-0.080982,-0.091335,0.009890,0.038588
feature_8,-0.406850,-0.000714,-0.006331,0.011788,-0.009894,0.017101,0.019752,0.058998,1.000000,0.108495,-0.005900,-0.014665,-0.046986,-0.035879,-0.005906,-0.015697,0.046193
feature_9,-0.105244,0.065006,0.022440,0.003468,0.004970,0.003437,0.021266,0.163618,0.108495,1.000000,-0.013744,-0.090923,-0.046003,-0.112665,-0.058534,-0.022458,0.068356
feature_10,-0.020580,-0.066072,0.012235,-0.010831,0.017115,-0.027930,-0.018799,-0.007553,-0.005900,-0.013744,1.000000,-0.005174,0.078315,0.013976,0.013017,0.032717,-0.023344
feature_11,-0.182078,-0.070495,-0.027770,0.009210,-0.020753,0.122215,0.039526,-0.124799,-0.014665,-0.090923,-0.005174,1.000000,0.042371,0.188053,0.267342,-0.099257,-0.135662
feature_12,-0.015597,-0.083485,0.007430,-0.009263,0.005064,-0.022871,-0.010990,-0.034169,-0.046986,-0.046003,0.078315,0.042371,1.000000,-0.010203,0.025174,0.016092,-0.065480
feature_13,0.028699,-0.030686,-0.029314,-0.020733,0.024970,-0.243657,-0.176610,-0.080982,-0.035879,-0.112665,0.013976,0.188053,-0.010203,1.000000,0.361038,0.270935,-0.148583
feature_14,-0.040374,0.015220,-0.005105,0.006277,-0.109652,0.031530,0.030134,-0.091335,-0.005906,-0.058534,0.013017,0.267342,0.025174,0.361038,1.000000,-0.033727,-0.026178
feature_15,0.006381,-0.021289,0.084358,0.009662,0.105265,-0.856851,-0.594264,0.009890,-0.015697,-0.022458,0.032717,-0.099257,0.016092,0.270935,-0.033727,1.000000,-0.079190
labels,0.019405,0.048611,-0.033345,0.392971,-0.075025,0.106239,0.119322,0.038588,0.046193,0.068356,-0.023344,-0.135662,-0.065480,-0.148583,-0.026178,-0.079190,1.000000

In [11]:
df.shape

(33908, 17)

### Separating source and target variables

In [12]:
X = df.iloc[:,:-1]

In [13]:
y = df['labels']

### Checking for imbalanced dataset

Ratio of '0' and '1' is 7.5 so this is an imbalanced dataset.

In [14]:
y.value_counts()

0    29941
1     3967
Name: labels, dtype: int64

### Balancing the imbalanced dataset

Balancing the imbalanced dataset using SMOTE (Synthetic Minority Over sampling Technique). Over sampling minority and under sampling majority values.

In [15]:
from imblearn.over_sampling import SMOTE
from imblearn.under_sampling import RandomUnderSampler
from imblearn.pipeline import Pipeline

Using TensorFlow backend.

In [16]:
over = SMOTE(sampling_strategy=0.23)
under = RandomUnderSampler(sampling_strategy=0.5)

In [17]:
steps = [('o',over),('u',under)]
pipeline = Pipeline(steps=steps)

In [18]:
X,y = pipeline.fit_resample(X,y)

In [19]:
X.shape

(20658, 16)

In [20]:
y.value_counts()

0    13772
1     6886
Name: labels, dtype: int64

### Creating model

In [21]:
import lightgbm as lgt

In [22]:
model = lgt.LGBMClassifier()

In [23]:
model.fit(X,y)

LGBMClassifier(boosting_type='gbdt', class_weight=None, colsample_bytree=1.0,
               importance_type='split', learning_rate=0.1, max_depth=-1,
               min_child_samples=20, min_child_weight=0.001, min_split_gain=0.0,
               n_estimators=100, n_jobs=-1, num_leaves=31, objective=None,
               random_state=None, reg_alpha=0.0, reg_lambda=0.0, silent=True,
               subsample=1.0, subsample_for_bin=200000, subsample_freq=0)

### Predicting the output values for test dataset

In [24]:
final = model.predict(t_df)

In [25]:
type(final)

numpy.ndarray

In [26]:
f= pd.DataFrame(final,columns=['labels'])

### Converting the output value to excel format

In [27]:
l=f.to_excel('result.xlsx',index=False)